<h1>Developers</h1>
<% @users.each do |user| %>
  <% if user.developer? %>
    <div class="col-sm">
      <%= cl_image_tag(user.profile_img.key, :height=>100, :width=>150, :crop=>"limit", cloud_name: 'dgmfa6oai') %>
      <p> <%= link_to user.full_name, user_path(user.id) %> </p>
    </div>
  <% end %>
<% end %>
