<h1>Nerd Bucket</h1>
<div class="col-sm-4">
  <p>
    Nerd Bucket is a hub for people to post projects that they need help with and to
    connect with developers of all skill levels..
  </p>
  <p>
    It's also way for anyone who's interested in learning more about the 
    development process to witness how certain languages and frameworks come together
    to create software.
  </p>
</div>
