<h1>Nerd Bucket</h1>

<p> Nerd Bucket was created to help bored software developers find and create projects with other bored developers.</p>

<p>Doesn't matter if you are a pro or novice, there's always something to do or learn.</p>

